body {
    background: url(https://i.pinimg.com/originals/09/8d/ea/098deacf1d889cf37399007b82667c6d.jpg) no-repeat center center fixed; background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0;
    height: 100vh;
  }

  /* .slogan {
    background: linear-gradient(135deg, transparent 20px, #2ea8e6 20px);
    margin: 10px; 
    padding: 5px; 
    max-width: 320px;
    width: 100%;
  }

  .box {
    background: linear-gradient(135deg, transparent, transparent 20px, white 20px);
    padding: 20px;
  } */

/* .slogan {
    position: relative;
    background-color: transparent;
    overflow: hidden;  
    background: pink;
    margin: 0 5px;
}

.slogan::before {
    content: '';
    position: absolute;
    width: 1100%;
    height: 1100%;
    top: 30px;
    right: -500%;
    background: #2ea8e6;
    transform-origin: 45% 0;
    transform: rotate(-45deg);
    z-index: -1;
} */

.container {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  background: #7e3;
  padding: 10px;
  text-align: center;
  margin: 0;
}

.btn {
  background: green;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 30px;
  color: white;
}

.selected {
  border: 5px solid red;
}
.span {
  color: white;
  cursor: pointer;
}
.span.active {
  display: none;
}
.buy {
  display: flex;
  width: 100%;
  background: #7e3;
  justify-content: center;
  align-items: center;
}